name: Build
on:
  push:
    paths-ignore:
      - README.md
      - 'docs/**'
      - '.github/dependabot.yml'

permissions:
  actions: read
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK8
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '8'

      - name: Set up JDK17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew build
        env:
          GITHUB_TOKEN: ${{ secrets.IONA_GITHUB_PACKAGE_TOKEN }}

      - name: Test Summary
        if: always()
        uses: test-summary/action@v2
        with:
          paths: build/test-results/**/TEST-*.xml

      - name: Store test reports on failure
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-reports
          path: |
            build/reports/tests/
