/* Base app style */

application {
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	margin: 1em;
	padding-top: 1em;
	border-top: 1em solid #eee;
}

/* Top border colouring for overall app state */

application[class=ok] {
}

application[class=critical] {
	border-color: #ce002c;
}

application[class=warning] {
	border-color: #eccd10;
}

application[class=ok] {
	border-color: #0da237;
}

/* Component styles */

component {
	display: block;
	padding: 1em;
	background-color: #eee;
	margin: 0 0 1em 0;
	overflow: auto;  /* clearfix */
}

value {
	font-weight: bold;
	float: right;
	white-space: pre-wrap;
}

/* Component colouring based on state */

component[class=critical] {
	background-color: #ce002c;
	color: white;
}

component[class=warning] {
	background-color: #eccd10;
}

component[class=info] {
}

component[class=ok] {
	background-color: #0da237;
	color: white;
}

/* Timestamp */

timestamp {
	display: block;
	color: #999;
}
